 
*{
    box-sizing: border-box;
    cursor: none;
}
html, body{
    font-family: "SuisseIntl-Regular";
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0.521vw;
}

::-webkit-scrollbar-track{
    background: #E2E2E2;
}

::-webkit-scrollbar-thumb{
    background: #1549FE;
    border-radius: 8px;
    border:3px solid #1549FE;
}

/* ::-webkit-scrollbar-thumb:hover{
    background: #0E0E0E;
    border-radius: 8px;
    border:3px solid #0E0E0E;
} */


  
  @font-face {
	font-family: 'SuisseIntl-Regular'; 
	src: local('SuisseIntl-Regular'),
		url(./fonts/SuisseIntl-Regular.ttf) format('ttf');
  }



.container{
    width: 100%;
    max-width: 1860px;
    margin: 0px auto;
    color: #FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
}

.inner-cursor{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    background-color: #1549FE;
    mix-blend-mode: normal; 
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;

}

.inner-cursor.grow {
    width: 35px;
    height: 35px;
    transition: width 0.5s, height 0.5s;
    border: 1px solid #1549FE;

    /* background-color: transparent; */
    
}

.outer-cursor{
    position:fixed;
    top: 10px; 
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid #1549FE;
    mix-blend-mode: normal;
    border-radius: 50%;
    pointer-events: none;
    /* transition: 0.1s; */

}

.open{
    display: flex!important;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:1.042vw;
    color: #1549FE;
}

.header__img{
    width: 1.510vw;
    height: 1.510vw;
}

.header__about {
    font-weight: 400;
    font-size: 0.938vw;
    color: #1549FE;
    text-decoration: none;
}

.header__about:hover{
    color: #0E0E0E;
}

.header__exhibitions{
    font-weight: 400;
    font-size:  0.938vw;
    color: #1549FE;
    text-decoration: none;
}

.header__exhibitions:hover{
    color: #0E0E0E;
}

.header__residents{
    font-weight: 400;
    font-size:  0.938vw;
    color: #1549FE;
    text-decoration: none;
}

.header__residents:hover{
    color: #0E0E0E;
}
.header__merch{
    font-weight: 400;
    font-size:  0.938vw;
    color: #1549FE;
    text-decoration: none;
}

.header__merch:hover{
    color: #0E0E0E;
}

.header__bar{
    font-weight: 400;
    font-size:  0.938vw;
    color: #1549FE;
    text-decoration: none;
}

.header__bar:hover{
    color: #0E0E0E;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.h1_mainpage{
    margin-top: 2.760vw;
}
.h1__main{
    font-size: 15.104vw;
    line-height: 85.52%;
    letter-spacing: -0.035em;
    color: #1549FE;
    text-align: left;
}
/* or 258px */
.image{
    width: 100%;
    height: 45.313vw;
}

.image__hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about{
    margin: 10.417vw;
}

.text__text{
    color: #1549FE;
    font-size: 2.604vw;
    text-indent: 3.646vw;
}

.events{
    margin-top: 10.417vw;
}

.events__h1{
    color: #1549FE;
    font-size: 4.167vw;
    text-align: center;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0.052vw solid #1549FE;
    margin-top: 3.125vw;
}

.card-container__inactive{
    height: 38.542vw;
    border: 0.052vw solid #1549FE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1;
}

.card-container__inactive_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.302vw;
    /* margin: auto; */
}

.card-container__text_inactive{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 19.896vw;
    
}

.card-container__text_inactive_main{
    font-size: 1.563vw;
    line-height: 95.52%;
    text-transform: uppercase;
    color: #0E0E0E;
}

.card-container_text_inactive_name{
    width: auto;
    height: auto;
    padding: 0.260vw 0.521vw;
    font-size: 0.729vw;
    color: #0E0E0E;
    border: 0.052vw solid #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container__image_inactive{
    width: 19.896vw;
    height: 28.281vw;
    object-fit: cover;
    /* background-image: url(../img/poster_one.png); */

}

.card-container__image_inactive_1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ticket{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    background-color: #1549FE;
    width: 100%;
    height: 100%;
}

.ticket:hover{
    opacity: 1;
    z-index: 2;
    position: absolute;
    background-color: #1549FE;
    width: 100%;
    height: 100%;
}
.ticket__text{
    font-size: 2.344vw;
    line-height: 95.52%;
    text-transform: uppercase;
    color: #F3F3F3;
}

.ticket__link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.button{
    margin-top: 2.604vw;
    width: 100%;
    border: 0.104vw solid #1549FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.823vw;
    padding-bottom: 1.823vw;
    font-size: 2.083vw;
    color: #1549FE;
}

.button:hover{
    margin-top: 2.604vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.823vw;
    padding-bottom: 1.823vw;
    font-size: 2.083vw;
    background-color: #1549FE;
    color: #FAFAFA
}

.button__link{
    text-decoration: none;
    color: #1549FE;
}

.residents{
    margin-top: 10.417vw;
}

.residents__h1{
    color: #1549FE;
    font-size: 4.167vw;
    text-align: center;
}

.residents-container{
    margin-top: 3.125vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;

}

.residents-container__item{
    position: relative;
    height: 26.042vw;
    
}

.residents-container__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    display: flex;
    flex-direction: row;
    position:absolute;
    top:0px;
    background-color: #FAFAFA;
    width: 100%;
    padding: 1.302vw 1.719vw;
    justify-content: space-between;
    border: 0.052vw solid #1549FE;
    transition: .3s ease;
    opacity:0;
}

.overlay:hover{
    opacity: 1;
}

.overlay__text{
    font-size: 1.719vw;
    line-height: 95.52%;
    text-transform: uppercase;
    color: #1549FE;
}


.call-to-action{
    margin-top: 10.417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call-to-action__h1{
    color: #1549FE;
    font-size: 4.167vw;
    text-align: center;
}

.call-to-action__content{
    margin-top: 3.125vw;

}
.call-to-action__image{
    width: 48.438vw;
    height: 45.781vw;
}

.call-to-action__button{
    margin-top: 2.604vw;
    width: 100%;
    border: 0.104vw solid #1549FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.823vw;
    padding-bottom: 1.823vw;
    font-size: 2.083vw;
    color: #1549FE;
}

.call-to-action__button:hover{
    margin-top: 2.604vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.823vw;
    padding-bottom: 1.823vw;
    font-size: 2.083vw;
    background-color: #1549FE;
    color: #FAFAFA
}

.call-to-action__link{
    text-decoration: none;
    color: #1549FE;
}

.end{
    width: 100%;
    height: 20.833vw;
    margin-top: 10.417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    height: 20.833vw;
    flex-direction: column;
    gap: 8.542vw;
    margin-bottom: 2.604vw;
}



.footer-h1-h1{
    color: #1549FE;
    transform: rotate(180deg);
    font-size: 4.688vw;
} 

.footer-mini-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22.708vw;
}

.footer-mini_text{
    font-size: 1.302vw;
    line-height: 95.52%;
    text-transform: uppercase;
    color: #0E0E0E;

}


/* @media only screen and (max-device-width: 480px)  {
    .header{
        display: none!important;
    }
} */

@media only screen and (max-device-width: 480px)  {
    .h1_mainpage{
        margin-top: 25px;
    }

}

@media only screen and (max-device-width: 480px)  {
.h1__main{
    font-size: 14.583vw;
    letter-spacing: -2.24px;
    color: #1549FE;
    text-align: left;
}
}

@media only screen and (max-device-width: 480px)  {
    .image{
        width: 100%;
        height: 524px;
    }

}


@media only screen and (max-device-width: 480px)  {
.image__hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

@media only screen and (max-device-width: 480px)  {
    .about{
        width: 100%;
        margin-top: 54px;
        text-align: left;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media only screen and (max-device-width: 480px)  {
.text__text{
    color: #1549FE;
    font-size: 4.583vw;
}
}

@media only screen and (max-device-width: 480px)  {
    .events__h1{
        color: #1549FE;
        font-size: 9.583vw;
        text-align: center;
    }
}


@media only screen and (max-device-width: 480px)  {
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    border: 0.104vw solid #1549FE;
    margin-top: 8.333vw;
}
}

@media only screen and (max-device-width: 480px)  {
 .card-container__inactive{
        height: 70.208vw;
        border: 0.052vw solid #1549FE;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        z-index: 1;
    }
}

@media only screen and (max-device-width: 480px)  {
    .card-container__inactive_inner{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        gap: 2.083vw;
        /* margin: auto; */
    }
}

@media only screen and (max-device-width: 480px)  {
    .card-container__text_inactive{
        display: flex;
        flex-direction: column-reverse;
        gap: 2.083vw;
        width: auto;
       
        
    }
}

@media only screen and (max-device-width: 480px)  {
    .card-container__text_inactive_main{
        font-size: 3.333vw;
        text-transform: uppercase;
        color: #0E0E0E;
    }
}

@media only screen and (max-device-width: 480px)  {
    .card-container_text_inactive_name{
        width: auto;
        height: auto;
        padding: 1.042vw 3.125vw;
        font-size:2.083vw;
        color: #0E0E0E;
        border: 0.208vw solid #0E0E0E;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (max-device-width: 480px)  {

    .card-container__image_inactive{
        width: 32.292vw;
        height:45.833vw;
    }
}

@media only screen and (max-device-width: 480px)  {
    .residents__h1{
        color: #1549FE;
        font-size: 9.583vw;
        text-align: center;
    }
}


@media only screen and (max-device-width: 480px)  {
.button__link{
    text-decoration: none;
    color: #1549FE;
}
}

@media only screen and (max-device-width: 480px)  {
.button{
    margin-top: 4.167vw;
    width: 100%;
    border:0.208vw solid #1549FE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4.375vw;
    padding-bottom: 4.375vw;
    font-size: 4.167vw;
    color: #1549FE;
}
}


.button:hover{
    margin-top: 2.604vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.823vw;
    padding-bottom: 1.823vw;
    font-size: 2.083vw;
    background-color: #1549FE;
    color: #FAFAFA
}

@media only screen and (max-device-width: 480px)  {
    .overlay{
        display: flex;
        flex-direction: row;
        position:absolute;
        top:0px;
        background-color: #FAFAFA;
        width: 100%;
        padding: 3.125vw 4.583vw;
        justify-content: space-between;
        border: 0.208vw solid #1549FE;
        transition: .3s ease;
        opacity:0;
    }
    }
    
    @media only screen and (max-device-width: 480px)  {
        .overlay__text{
            font-size: 3.333vw;
            text-transform: uppercase;
            color: #1549FE;
        }
    
    }
    
    
    @media only screen and (max-device-width: 480px)  {
        .residents-container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6,1fr) ;
            margin-top: 5.208vw;
            margin-bottom: 2.604vw;
        }
        }
    
    @media only screen and (max-device-width: 480px)  {
        .residents-container__item{
            position: relative;
            height: 82.083vw;
        }
        }


    @media only screen and (max-device-width: 480px)  {
        .call-to-action{
            margin-top: 16.667vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    @media only screen and (max-device-width: 480px)  {
        .call-to-action__h1{
            color: #1549FE;
            font-size: 9.583vw;
            text-align: center;
            width: auto;
        }
    }
    @media only screen and (max-device-width: 480px)  {
    .call-to-action__content{
        margin-top: 7.292vw;
    }
    }

@media only screen and (max-device-width: 480px)  {
    .call-to-action__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-device-width: 480px)  {
.call-to-action__button{
        margin-top: 4.167vw;
        width: 100%;
        border:0.208vw solid #1549FE;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 4.375vw;
        padding-bottom: 4.375vw;
        font-size: 4.167vw;
        color: #1549FE;
    }
    }

@media only screen and (max-device-width: 480px)  {
        .end{
            width: 100%;
            height: 340px; 
        }
    }

    @media only screen and (max-device-width: 480px)  {
    .footer-h1-h1{
        color: #1549FE;
        transform: rotate(180deg);
        font-size: 44px;
    } 
}


@media only screen and (max-device-width: 480px)  {
    .footer-mini-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.375vw;
    }
}


@media only screen and (max-device-width: 480px)  {
    .footer-mini_text{
        font-size: 3.333vw;
        text-transform: uppercase;
        color: #0E0E0E;
    
    }

}



   
    
    
    